.list {
    width: 69%;
    border: 1px solid #000;
    margin-top: 10px;
    padding-left: 10px;
}

.list p {
    display: inline-block;
}

.item-name {
    width: 240px;
}

.price {
    margin-left: 85px;
    width: 100px;
    font-weight: 500;
}

.delete-btn {
    margin-left: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}