.header input {
    margin-right: 10px;
    padding: 0 7px;
    height: 30px;
}

.input-cost {
    width: 100px;
}

.add-btn {
    width: 100px;
    height: 35px;
    border: none;
    background-color: darkorange;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    cursor: pointer;
}