.App {
    width: 50%;
    margin: 0 auto;
}
.cost {
    width: 34%;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: darkorange;
    position: absolute;
    bottom: 0;
    left: 25%;
}